select.category.cpt_onomies {
	width: 100%;
	}
	
.cpt_onomies_tags_div input.cpt_onomies_new_tag {
	margin-right: 5px;
	width: 16em;
}

.cpt_onomies_tags_div .cpt_onomies_add_tag_error_message {
	display: block;
	background: #FFFFE0;
	margin: 5px 0 0 0;
	padding: 7px 8px 5px 8px;
	border: 1px solid #E6DB55;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	color: #333;
	line-height: 1.3em;
	}
	
.cpt_onomies_tags_div .cpt_onomies_add_tag_error_message .close {
	color: #888;
	text-decoration: underline;
	}

.cpt_onomies_tags_div .cpt_onomies_tag_checklist {
	margin: 0!important;
	padding: 0!important;
	margin-left: 8px!important;
	border: 0!important;
	}
	
.cpt_onomies_tags_div .cpt_onomies_tag_checklist.alone {
	margin-top: 10px!important;
	margin-left: 2px!important;
	}
	
.cpt_onomies_tags_div .cpt_onomies_tag_checklist.loading {
	min-height: 18px;
	background: url('../../../../wp-admin/images/loading.gif') left top no-repeat !important;
	}

.cpt_onomies_tags_div .cpt_onomies_tag_checklist .tag {
	display: inline-block!important;
	width: 50%!important;
	margin: 0!important;
	padding: 1px 0 2px 0!important;
	border: 0!important;
	cursor: default!important;
    }

.cpt_onomies_tags_div .cpt_onomies_tag_checklist .delbutton {
	display: inline-block!important;
	width: 10px!important;
	height: 12px!important;
	background: url('../../../../wp-admin/images/xit.gif') 0 2px no-repeat!important;
	margin: 0 5px 0 0!important;
	padding: 0!important;
	border: 0!important;
	position: static!important;
	line-height: normal!important;
	cursor: pointer!important;
    text-indent: -9999px!important;
    vertical-align: text-top!important;
	}
.cpt_onomies_tags_div .cpt_onomies_tag_checklist .delbutton:hover {
	background-position: -10px 2px!important;
	}
	
.cpt_onomies_tags_div .cpt_onomies_tag_checklist .term {
	display: inline-block!important;
	margin: 0!important;
	padding: 0 5px 0 0!important;
	border: 0!important;
	white-space: normal!important;
	font-size: 11px!important;
    line-height: 1.4em!important;
    vertical-align: text-top!important;
	}
	
.cpt_onomies_tags_div .cpt_onomies_tag_checklist .term .parent {
	color: #888!important;
	font-style: italic!important;
	line-height: normal!important;
	padding: 0 3px 0 0!important;
	margin: 0!important;
	border: 0!important;
	white-space: normal!important;
	}
	
.ui-autocomplete.cpt_onomies {
	background: none!important;
	max-width: 255px!important;
	border: 0!important;
	}

.ui-autocomplete.cpt_onomies .ui-menu-item {
	padding: 0!important;
	margin: 3px 0 0 0!important;
	color: #fff!important;
	line-height: normal!important;
	white-space: normal!important;
	}
	
.ui-autocomplete.cpt_onomies .ui-menu-item .parent {
	font-size: 90%!important;
	font-style: italic!important;
	opacity: 0.8!important;
	margin: 0!important;
	padding: 0 3px 0 0!important;
	border: 0!important;
	}
	
.ui-autocomplete.cpt_onomies .ui-menu-item a {
	display: block!important;
	background: #21759b!important;
	padding: 7px 5px!important;
	margin: 0!important;
	border: 0!important;
	-webkit-border-radius: 5px!important;
	-moz-border-radius: 5px!important;
	border-radius: 5px!important;
	color: #fff!important;
	cursor: pointer!important;
	}
	
.ui-autocomplete.cpt_onomies .ui-menu-item a.ui-state-hover,
.ui-autocomplete.cpt_onomies .ui-menu-item a:hover {
	background: #d54e21!important;
	}